:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
}

html {
}

body {
}

/* GENERAL */
a:link,
a:visited {
}

/* SIDEBAR */
.sidebar {
}

.logo {
}

.workouts {
}

.workouts::-webkit-scrollbar {
}

.workout {
}
.workout--running {
}
.workout--cycling {
}

.workout__title {
}

.workout__details {
}

.workout__icon {
}

.workout__value {
}

.workout__unit {
}

.form {
}

.form.hidden {
}

.form__row {
}

.form__row--hidden {
}

.form__label {
}

.form__input {
}

.form__input:focus {
}

.form__btn {
}

.copyright {
}

.twitter-link:link,
.twitter-link:visited {
}

.twitter-link:hover,
.twitter-link:active {
}

/* MAP */
#map {
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
}

.leaflet-popup .leaflet-popup-content {
}

.leaflet-popup .leaflet-popup-tip {
}

.running-popup .leaflet-popup-content-wrapper {
}
.cycling-popup .leaflet-popup-content-wrapper {
}
