/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 3.6rem;
  padding: 2.4rem;
  height: 9vh;
}

.header.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fefefe;
  z-index: 100;
  opacity: 0.95;
}

.logo__img {
  height: 4rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.link__group {
  display: flex;
  list-style: none;
  gap: 3.6rem;
}

.link__tag {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #444;
  letter-spacing: 0.01rem;
}

.nav__account-btn {
  border: none;
  padding: 1.2rem 2rem;
  background-color: #5ec576;
  border-radius: 2rem;
  font-family: inherit;
}

.hero__page {
  display: flex;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
  height: 91vh;
}

.hero__left-side {
  flex: 0.6;
}

.hero__title {
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 1.5;
}

.hero__text {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2.6rem 0rem;
}

.hero__decoration-text {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  clip-path: polygon(10% 0%, 98% 0%, 90% 100%, 2% 100%);
  padding: 0.8rem 3rem;
  margin: 0 -2.6rem;
}

.hero__right-side {
  flex: 0.4;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero__btn {
  border: none;
  color: #4bbb7d;
  border-bottom: 1px solid #39b385;
  padding-bottom: 0.4rem;
}

.line {
  padding: 6rem 0;
  border-top: 1px solid #ddd;
  height: 0.5rem;
}

.features__container {
  margin: 6rem 0 10rem 0;
}

.features__page {
  max-width: 100rem;
  margin: 0 auto;
}

.features__text-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  width: 60%;
  font-weight: 400;
}

.features__text-box h2 {
  color: #4bbb7d;
  letter-spacing: 0.02rem;
}

.features__text-box p {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1.5;
}

.features__itembox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.features__itembox .img__1,
.img__2,
.img__3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features__itembox .features__icons {
  background-color: #b4f1c2;
  display: flex;
  border-radius: 50%;
  padding: 1rem;
  line-height: 1rem;
  align-self: center;
  margin-right: auto;
}

.features__icons svg {
  width: 2.2rem;
  height: 2.2rem;
  fill: #4bbb7d;
  display: inline-block;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 6rem;
}

.features__content h2 {
  margin: 1rem 0;
}

.features__content p {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
}

.content__style {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  width: 60%;
  font-weight: 400;
}

.title__style {
  color: #4bbb7d;
  letter-spacing: 0.02rem;
}

.text__style {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1.5;
}

.optinonal__container {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  max-width: 100rem;
  margin: 0 auto;
  justify-items: center;
}

.optionals__content {
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  width: 80%;
  padding: 6rem;
  margin-bottom: 10rem;
}

.btn__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 62%;
  gap: 2.6rem;
  margin: 0rem 0 3rem 0;
  transform: translateY(5rem);
}

.btn {
  border: none;
  border-radius: 1.8rem;
  padding: 1rem 2.2rem;
  width: 100%;
  font-family: inherit;
}

.transfers {
  background-color: #ffb003;
}

.loans {
  background-color: #39b385;
}

.closing {
  background-color: #fd424b;
}

.svg__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(255, 203, 3, 0.2);
  padding: 1rem;
}

.svg__icon-box svg {
  width: 2.2rem;
  height: 2.2rem;
  fill: #ffbb00;
}

.optional__title {
  font-size: 1.8rem;
}

.optional__text {
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  line-height: 2;
  margin-top: 1rem;
}

.testimonalis__container {
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 5rem 0;
}

.testiminal__content {
  width: 75%;
  margin: 0 auto;
}

.testiminal__title::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 6%;
  background-color: #5ec576;
  width: 4rem;
  height: 4rem;
  clip-path: polygon(37% 0, 60% 0, 30% 100%, 0 100%);
}

.testiminal__title::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 9%;
  background-color: #5ec576;
  width: 4rem;
  height: 4rem;
  clip-path: polygon(40% 0, 60% 0, 40% 100%, 0 100%);
}

.testiminal__content h2 {
  font-size: 2rem;
}

.testiminal__content p {
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
  margin: 1.6rem 0 2.4rem 0;
}

.arrow__btn {
  width: 4.6rem;
  height: 4.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 33%;
}

.arrow__left {
  left: 0%;
}

.arrow__right {
  right: 0%;
}

.testimonails .title__style {
  margin-bottom: 1.4rem;
}

.testimonal__box {
  display: flex;
  align-items: center;
  margin: 0 12rem;
  gap: 1.6rem;
}

.testimonal__img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.testimonal__location {
  font-size: 1.3rem;
}

.dot__container {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}

.dot__container .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #cbcbcb;
  margin: 4.2rem 0;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

.footer {
  background-color: #37383d;
  color: #fff;
}

.footer__content-box {
  padding: 5rem;
  border-bottom: 1px solid #444;
}

.footer__content-box .footer__title {
  font-size: 3.2rem;
  text-align: left;
  width: 65%;
  margin: 0 auto;
  line-height: 1.5;
}

.footer__btn {
  width: 35%;
  border-radius: 2rem;
  background-color: #4bbb7d;
  margin: 4rem auto;
  display: block;
  padding: 1.4rem 2.6rem;
  border: none;
}

.guide__line-box {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
}

.guide__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 6rem 0 4rem 0;
}

.logo__img.guide {
  display: block;
  margin: 0 auto;
}

.small__text {
  width: 100%;
  max-width: 100rem;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 5rem 0;
  color: #828384;
  font-size: 1.2rem;
}

.copyright__name {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}
